# (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2018.

# pyenv
.python-version

# archived websites list
archived-websites.json

.env

# temporary folder for archives
archives

# Ansible
ansible/ansible-tmp
