# (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2018.
# See the LICENSE file for more details.

# pyenv
.python-version

# Web2018 templates
homepage/common/includes-web2018

# archived websites list
archived-websites.json

.env

# temporary folder for archives
archives

# Ansible
ansible/ansible-tmp
